<!-- *****************@viewChild************************ -->
<!-- 
<h1 #Temp>Data Transfer</h1>
<h2 #Temp>Data Transfer</h2> -->



<!-- *****************@viewChildren************************ -->

<!-- <input type="text" #tt>
<h1 #Temp name="ss">Data Transfer</h1>
<h2 #Temp name="ss">Data Transfer</h2>
<p #Temp name="ss">Data Transfer</p>
<h1 #Temp name="ss">Data Transfer</h1>
<button (click)="set()">set</button> -->
<!-- <h1><app-child></app-child></h1>

    
<h1><app-child></app-child></h1>
<h1><app-child></app-child></h1>


<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button> -->

<!-- <app-notification></app-notification>
<app-parent-for-subject></app-parent-for-subject>
  -->